<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Timeline</h6>
                    <div id="content">
                        <ul class="timeline">
                            <li class="event">
                                <h3>Registration</h3>
                            </li>
                            <li class="event">
                                <h3>Opening Ceremony</h3>
                            </li>
                            <li class="event">
                                <h3>Main Event</h3>
                            </li>
                            <li class="event">
                                <h3>Closing Ceremony</h3>
                            </li>
                            <li class="event">
                                <h3>Closing Ceremony</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>