<% if model_instance.documents.attached? %>
    <%if model_instance.class.to_s == "Ticket" %>
        <p class="lead">
            <strong> Attachments : </strong> 
        </p>
    <% end %>
    <% model_instance.documents.each do |document|%>
        <%= link_to document.filename, rails_blob_path(document, disposition: 'inline') %>
    <br>
    <% end %>
<% end %>