<h4 style="display: inline-block;" > All Roles :</h4>
<%= link_to "New Role", new_role_path, class:"btn btn-info mb-3" ,style:"float: right;" %>
<table class="table"  style="background:#FFBF69 ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do | role | %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to "Edit", edit_role_path(role)  %> |
  <%= link_to "Delete", role_path(role), method: :delete, data: { confirm: "Are you sure ? "} %><br>
</td>
      </tr>
      <% end %>
  </tbody>
</table>