// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.heading-box {
  background: #31255e;
  color: white;
}

.card-body-bg {
  background-color: skyblue;
}